body div {

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url("./flappybirdbg3.png") ;
    border: 3px black solid;
    
    
   
}
body div p {
    position:absolute;
    right: 80px;
}

#back{
    position: absolute;
    top: 50px; left: 25px;
}
#main {
    /*background-color: skyblue;*/
    background-image: url("./flappybirdbg3.png");
    
}